.main {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 50px;

}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}



.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin: 20px 0;
}

.popup-content button {
  margin: 5px;

}

.btn {
  margin-right: 15px;
}

.term {
  display: flex;
}

.term>label {
  margin-right: 10px;
}

/* For devices with width of 1024px and above (like desktops) */
@media only screen and (min-width: 1025px) {
  /* CSS rules for desktops */
}

/* For tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .popup {
    width: 80%;
    padding: 15px;
  }

  .main {
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: 40px;
  }

  .term {
    flex-direction: column;
    align-items: flex-start;
  }

  .term>label {
    margin-bottom: 10px;
  }
}

/* For mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .popup {
    width: 90%;
    padding: 10px;
  }

  .main {
    margin-left: 2%;
    margin-top: 18%;
    margin-bottom: 30px;
  }

  .term {
    flex-direction: row;
    align-items: flex-start;
  }

  .term>label {
    margin-bottom: 10px;
  }

  .btn {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .popup-content button {
    width: 100%;
    margin-bottom: 10px;
  }
}
