nav {
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#vs-img {
  margin: 0 auto 20px;
  display: block;
  width: 150px;
  height: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  text-align: left;
  margin-bottom: 10px;
  /* Adds spacing between buttons */
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  background-color: #495057;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #6c757d;
}
