
.table {
    width: 100%;
    margin-bottom: 40px;
}

div > h2 {
    margin-top: 20px; 
    margin-left: 20px; 
}

/* For devices with width of 1024px and above (desktops) */
@media only screen and (min-width: 1025px) {
}

/* For tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    div > h2 {
        margin-left: 10px;
    }
}

/* For mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .table {
        overflow-x: auto; 
    }

    div > h2 {
        margin-left: 5px;
        font-size: 18px; 
    }
}
