

<section class="pt-5 pb-5">
  <br>
  <div class="container">
    <div class="row justify-content-center">
    </div>
    <div class="row">
      <div class="col-12 d-flex align-items-center">
        <div id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 mb-3 cards">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="../../assets/phy1.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more..</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="../../assets/chem-boy.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more..</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="../../assets/sci_math4.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more..</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="../../assets/sci_math5.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more..</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="../../assets/sci_math6.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more..</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="../../assets/sci_math7.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Know more..</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Previous and Next buttons -->
          <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <button class="scroll-btn prev" >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                <path fill="none" d="M0 0h24v24H0z" />
              </svg>
            </button>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <button class="scroll-btn next" >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                <path fill="none" d="M0 0h24v24H0z" />
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
