section {
  padding: 20px;
  margin-top: 60px;
  /* Adjust this to ensure it clears the fixed header */
}

h2 {
  margin-top: 0;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 60px;
  /* Adjust this to ensure it clears the fixed header */
}



@media (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    text-align: left;
  }

  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  header {
    width: 100%;
    left: 0;
  }
}
