.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(1, 1, 1, 1) 74%, rgba(0, 0, 0, 0));
  z-index: 500;
}

.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.dropdown-content :hover {
  color: white;
  background-color: #007BFF;
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 20px 5px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  top: 50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown .dropdown-content.show {
  display: block;

}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: whitesmoke;
  padding: 5px 3px;
  border: 2px solid whitesmoke;
  position: relative;
}

/* For mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .hamburger {
    display: block;

  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 65px;
    left: 0;
    padding: 10px;

    z-index: 1000;
    align-items: flex-start;
  }

  /* .nav-links a, button {
    font-size: 18px; 
    margin: 5px 0;  
  } */
  .nav-links.show {
    display: flex;
  }

  .dropdown {
    position: static;
  }

  .dropdown .dropdown-content {
    top: auto;
    left: 0;
  }
}

/* For tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hamburger {
    display: block;

  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 80px;
    left: 0;
    padding: 10px;
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
  }

  .dropdown {
    position: static;
  }

  .dropdown .dropdown-content {
    top: auto;
    left: 0;
  }
}



a {
  cursor: pointer;
}

/* a:hover {
  cursor: pointer;
} */

.navbar a:hover {
  background-color: #007BFF;
  color: white;
}

.dropdown-content a:hover {
  background-color: #007BFF;
  color: white;
}

.navbar a:hover,
.dropbtn:hover {
  background-color: #007BFF;
  color: white;
}

.dropdown .dropbtn:hover {
  background-color: #007BFF;
  color: white;
  width: 73%;
}